.fa-bars {
    display: none;
}

#links-mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    #links-mobile {
        display: block;
        position: absolute;
        left: -100%;
        transition: .5s;
        background-color: white;
        width: 100vw;
        z-index: 999;
    }

    #close {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    #links-desktop {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}

.animate {
    left: 0 !important;
}