{% extends "base_site.html" %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" style="height: 80vh; display: flex; align-items: center; justify-content: center;">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Halaman Tidak Ditemukan</p>
        <p class="text-gray-500 mb-0"></p>
        <a href="/">&larr; Kembali ke Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}