{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/media-query.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-7">
                                <div class="p-5" id="form">
                                    <div class="text-center">
                                        {% for message in messages %}
                                                <div class="container-fluid p-0">
                                                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                                    {{ message }}
                                                </div>
                                                </div>
                                                {% endfor %}
                                        <h1 class="h4 text-gray-900 mb-4">Daftar Akun Baru!</h1>
                                    </div>
                                    <form class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Alamat Email" autocomplete="off" required>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <input type="text" name="username" class="form-control form-control-user" id="exampleFirstName"
                                                    placeholder="Username" autocomplete="off" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" name="password1" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Kata Sandi" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" name="password2" class="form-control form-control-user"
                                                    id="exampleRepeatPassword" placeholder="Ulangi Kata Sandi" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                            Daftarkan Akun
                                        </button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block disabled">
                                            <i class="fab fa-google fa-fw"></i> Daftar dengan Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block disabled">
                                            <i class="fab fa-facebook-f fa-fw"></i> Daftar dengan Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Lupa Kata Sandi?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/login">Sudah punya akun? Login disini!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
